{
  ".rb": {
    "image": "bitrun/ruby:2.2",
    "command": "ruby %s"
  },
  ".py": {
    "image": "python:2.7",
    "command": "python %s"
  },
  ".js": {
    "image": "bitrun/node:4.1",
    "command": "node %s"
  },
  ".go": {
    "image": "golang:1.5",
    "command": "go run %s"
  },
  ".php": {
    "image": "php:5.6",
    "command": "php %s"
  },
  ".coffee": {
    "image": "bitrun/node:4.1",
    "command": "coffee %s"
  },
  ".exs": {
    "image": "trenpixster/elixir:latest",
    "command": "elixir %s"
  },
  ".sh": {
    "image": "debian:jessie",
    "command": "bash %s"
  },
  ".rs": {
    "image": "jimmycuadra/rust:latest",
    "command": "rustc -o main %s && ./main"
  },
  ".c": {
    "image": "gcc:latest",
    "command": "cc -o main %s && ./main"
  },
  ".lol": {
    "image": "bitrun/lci:0.10",
    "command": "lci ./%s"
  },
  ".arnie": {
    "image": "sosedoff/arnoldc:latest",
    "command": "java -jar /arnoldc.jar %s && java main"
  },
  ".bf": {
    "image": "sosedoff/brainfuck:latest",
    "command": "brainfuck %s"
  },
  ".swift": {
    "image": "swiftdocker/swift:latest",
    "command": "swift %s"
  },
  ".dart": {
    "image": "google/dart:latest",
    "command": "dart %s"
  },
  ".lua": {
    "image": "bitrun/lua:latest",
    "command": "lua %s"
  }
}